@page "/"

<h1>Hello, world!</h1>
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
Null


1 master
2 master
3 master
4 master
5 master
6 master
