@page "/"

<h1>Hello, world!</h1>
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
Null



1 Abdul
2 Abdul
3 Abdul
4 Abdul
5 Abdul
6 Abdul
7 Abdul
8 Abdul
9 Abdul
10 Master